<% if (task) { %>
	<% if (task.get('answer') === 'correct') { %>
		<div class = "symbol checkmark">&#x2713;</div>
	<% } else { %>
		<div class = "symbol x">&#x2717;</div>
	<% } %>
<% } else { %>
	<div class = "symbol questionmark">?</div>
<% } %>