<div class = "active title container">
	<div class = "active title">
		<%= topic.get('title') %>
	</div>
</div>
<div id = "tier" />
<div id = "facts_number" />
<div class = "active sidebar">
	<div class = "active arrow" />
</div>