<div class = "inactive title container">
	<div class = "inactive title">
		<%= topic.get('title') %>
	</div>
</div>
<div class = "inactive facts container">
	<div class = "inactive facts" id = "facts_number" />
</div>
<div class = "inactive more container">
	<div class = "inactive more">....</div>
</div>
<div class = "sidebar" />