<div id = "slider" style = "border: none">
	<img id = "img1" width = "900px" height = "400px" style = "background: #f00; border: none" />
	<img id = "img2" width = "900px" height = "400px" style = "background: #ff0; border: none" />
	<img id = "img3" width = "900px" height = "400px" style = "background: #0f0; border: none" />
	<img id = "img4" width = "900px" height = "400px" style = "background: #0ff; border: none"/>
	<img id = "img5" width = "900px" height = "400px" style = "background: #00f; border: none" />
	<img id = "img6" width = "900px" height = "400px" style = "background: #f0f; border: none" />
</div>
<div class = "" id = "dots" style = "width: 145px; height: 20px; position: absolute; top: 370px; left: 5px; z-index: 1000">
	<div id = "nav" />
</div>