<div id = "slider" style = "border: none">
	<img id = "img1" width = "900px" height = "400px" style = "background: #00C481; border: none" />
	<img id = "img2" width = "900px" height = "400px" style = "background: #ABE319; border: none" />
	<img id = "img3" width = "900px" height = "400px" style = "background: #FFF146; border: none" />
	<img id = "img4" width = "900px" height = "400px" style = "background: #FFBF1F; border: none" />
	<img id = "img5" width = "900px" height = "400px" style = "background: #FA2B31; border: none" />
</div>
<div class = "" id = "dots" style = "margin-top: 20px; width: 145px; height: 20px; margin-left: 360px; position: relative">
	<div id = "nav" />
</div>