<% for (i = 0; i < sources.length; i++) { %>
	<div class = "source container">
		<span class = "source label">Source: </span> 
		<a href = "<%= sources[i].get('url') %>" target = "_blank"><%= sources[i].get('url') %></a></br>
	</div>
<% } %>